{% extends 'base.html' %}

{% block content %}
<div class="jumbotron section">
  <h1><a href="{% url 'projects:p_detail' slug=material.project.slug %}">Project {{material.project}}</a></h1>
  <h2>Material type: {{material.type}}
  <a class='btn btn-danger' href="{% url 'materials:m_delete' pk=material.pk %}">Delete</a>
  <a class='btn btn-primary' href="{% url 'materials:m_update' pk=material.pk %}">Update</a>
  </h2>
</div>

<div class="container">
  <div class="card" style="width:62rem">
    <div class="card-body">
      <h6>
        <h4>Supplier: {{material.supplier}}</h4>
        <h4>Material quantity: {{material.quantity}} {{material.unit}} | Price per unit: {{material.price}}</h4>
        <h4>Total: {{material.total_price}}</h4>
        <h4>Due: {{material.due}}</h4>
        <h4>Receive date: {{material.date}}</h4>
      </h6>
    </div>
  </div>
</div>
<br>

<div class="container section">
  <a class='btn btn-primary' href="{% url 'materials:pay' pk=material.pk %}">Add payment</a>
  <br>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Payment amount</th>
        <th scope="col">Due amount</th>
        <th scope="col">Date</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in material.payments.all %}
      <tr>
        <td>{{payment.type}}</td>
        <td>{{payment.amount}}</td>
        <td>{{payment.amount_due}}</td>
        <td>{{payment.date}}</td>
        <td><a class='btn btn-danger' href="{% url 'materials:pay_del' pk=payment.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
