{% extends 'base.html' %}

{% block content %}
<div class="jumbotron section">
  <a class='btn btn-danger' href="{% url 'contracts:c_delete' pk=contract.pk %}">Delete</a>
  <a class='btn btn-warning' href="{% url 'contracts:c_update' pk=contract.pk %}">Update</a>
  <h1><a href="{% url 'projects:p_detail' slug=contract.project.slug %}">Project {{contract.project}}</a></h1>
  <h2>Contract Type: {{contract.contract_type}}</h2>
</div>

<div class="container">
  <div class="card" style="width:62rem">
    <div class="card-body">
      <h6>
        <h4>Contractor Name: {{contract.contractor_name}}</h2>
        <h4>Contract Value: {{contract.contract_value}}</h4>
        <h4>Total Contract Value: {{contract.total_contract_value}}</h4>
        <h4>Due: {{contract.due}}</h4>
        <h4>Date: {{contract.date}}</h4>
      </h6>
    </div>
  </div>
</div>
<br>

<div class="container section">
  <a class='btn btn-primary' href="{% url 'contracts:pay' pk=contract.pk %}">Add payment</a>
  <br>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Payment amount</th>
        <th scope="col">Due amount</th>
        <th scope="col">Date</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in contract.payments.all %}
      <tr>
        <td>{{payment.type}}</td>
        <td>{{payment.amount}}</td>
        <td>{{payment.amount_due}}</td>
        <td>{{payment.date}}</td>
        <td><a class='btn btn-danger' href="{% url 'contracts:pay_del' pk=payment.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
