{% extends "base.html" %}
{% block content %}
<div class="jumbotron section">
  <h1>Welcome to the Project Detail Page</h1>
  <p><a class='btn btn-warning' href="{% url 'update' pk=project_details.pk %}">Update</a>
  <a class='btn btn-danger' href="{% url 'delete' pk=project_details.pk %}">Delete</a></p>
  <h4>Project Name: {{project_details.project_name}}</h4>
  <h4>Client: {{project_details.client_name}}</h4>
  <h4>Address: {{project_details.address}}</h4>
  <h4>Start Date: {{project_details.start_date}}</h4>
</div>

<h3>The materials are as follows:</h3>
{% for material in project_details.materials.all %}
  <p>{{material.type}}</p>
{% endfor %}

{% endblock %}
