{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="jumbotron section">
    <h3>Here's the list of all the Projects:</h1>
    <p>To create new project press create</p>
    <p><a class='btn btn-warning' href="{% url 'create' %}">Create</a></p>
  </div>

  <div class="container-fluid Card_Container">
    {% for project in projects %}
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">{{project.project_name}}</h5>
        <p class="card-text">Client: {{project.client_name}}</p>
        <a href="{{project.pk}}/" class="btn btn-primary">Details</a>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}
