{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
  <br>
  <!-- <div class="jumbotron">
    <h3>Here's the list of all the Projects:</h1>
    <p>To create new project press create</p>
    <p><a class='btn btn-primary' href="{% url 'projects:p_create' %}">Create</a></p>
  </div> -->

  <div class="container">
    <div class="card" style="width:62rem">
      <div class="card-body">
        <h3>Here's the list of all the Projects:</h1>
        <p>To create new project press create</p>
        <p><a class='btn btn-primary' href="{% url 'projects:p_create' %}">Create</a></p>
      </div>
    </div>
  </div>
  <br>

  <!-- {% if projects %}
    <div class="container-fluid">
      {% for project in projects %}
      <div class="card box">
        <div class="card-body">
          <h5 class="card-title">{{project.project_name}}</h5>
          <p class="card-text">Client: {{project.client_name}}</p>
          <a href="{% url 'projects:p_detail' slug=project.slug %}" class="btn btn-primary">Details</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br>
  {% else %}
  <div class="container-fluid Card_Container">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">No projects yet!</h5>
        <p class="card-text">Click on create to get started</p>
        <p><a class='btn btn-primary' href="{% url 'projects:p_create' %}">Create</a></p>
      </div>
    </div>
  </div>
  {% endif %} -->

  {% if projects %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sl. no.</th>
        <th scope="col">Projects</th>
        <th scope="col">Payment eeceived</th>
        <th scope="col">Total expenditure</th>
        <th scope="col">Total amount in hand</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <th scope="row">{{project.serial_number}}</th>
        <td><a href="{% url 'projects:p_detail' slug=project.slug %}">{{project.project_name}}</a></td>
        <td>{{project.total_client_payment}}</td>
        <td>{{project.total_expense}}</td>
        <td>{{project.total_client_payment|sub:project.total_expense}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  <br>
  {% else %}
  <div class="container-fluid Card_Container">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">No projects yet!</h5>
        <p class="card-text">Click on create to get started</p>
        <p><a class='btn btn-primary' href="{% url 'projects:p_create' %}">Create</a></p>
      </div>
    </div>
  </div>
  {% endif %}


{% endblock %}
