{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
  <br>


  <div class="container">
    <div class="card" style="width:62rem">
      <div class="card-body">
        <div class="container">
          <h3>Total amount received from the clients' side: {{fund}}</h3>
          <h3>Total expense including all the projects: {{expense}}</h3>
          <h3>Total amount in hand: {{fund|sub:expense}}</h3>
          <p><a class='btn btn-primary' href="{% url 'projects:p_create' %}">Add Project</a></p>
        </div>
      </div>
    </div>
  </div>
  <br>

  {% if projects %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sl. no.</th>
        <th scope="col">Projects</th>
        <th scope="col">Payment received</th>
        <th scope="col">Total expenditure</th>
        <th scope="col">Total amount in hand</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <th scope="row">{{project.serial_number}}</th>
        <td><a href="{% url 'projects:p_detail' slug=project.slug %}">{{project.project_name}}</a></td>
        <td>{{project.total_client_payment}}</td>
        <td>{{project.total_expense}}</td>
        <td>{{project.total_client_payment|sub:project.total_expense}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  <br>
  {% else %}
  <div class="container-fluid Card_Container">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">No projects yet!</h5>
        <p class="card-text">Click on create to get started</p>
        <p><a class='btn btn-primary' href="{% url 'projects:p_create' %}">Create</a></p>
      </div>
    </div>
  </div>
  {% endif %}


{% endblock %}
