{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron section">
  <h1>Welcome to the Project Detail Page</h1>
  <p><a class='btn btn-warning' href="{% url 'projects:p_update' pk=project_details.pk %}">Update</a>
  <a class='btn btn-danger' href="{% url 'projects:p_delete' pk=project_details.pk %}">Delete</a></p>
  <p>Project Name: {{project_details.project_name}}</p>
  <p>Client: {{project_details.client_name}}</p>
  <p>Address: {{project_details.address}}</p>
  <p>Start Date: {{project_details.start_date}}</p>
</div>

{% block with_pbase %}
{% endblock %}

{% endblock %}
