{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}

  <div class="jumbotron section" id="top">
    <h1>Welcome to the Project Detail Page</h1>
    <p><a class='btn btn-warning' href="{% url 'projects:p_update' slug=project_details.slug %}">Update</a>
    <a class='btn btn-danger' href="{% url 'projects:p_delete' slug=project_details.slug %}">Delete</a></p>
    <p>Project Name: {{project_details.project_name}}</p>
    <p>Client: {{project_details.client_name}}</p>
    <p>Address: {{project_details.address}}</p>
    <p>Start Date: {{project_details.start_date}}</p>

    <div>
      <a href="#labours"><button type="button" class="btn btn-primary">Labours</button></a>
      <a href="#materials"><button type="button" class="btn btn-secondary">Materials</button></a>
      <a href="#contracts"><button type="button" class="btn btn-success">Contracts</button></a>
      <a href="#client_payments"><button type="button" class="btn btn-info">Client payment</button></a>
      <a href="#miscellaneous"><button type="button" class="btn btn-dark">Miscellaneous</button></a>
    </div>

  </div>

  <div class="container">
    <div class="card" style="width:62rem">
      <div class="card-body">
        <h6>
          <h4>Estimated Cost: {{project_details.estimated}}</h4>
          <h4>Payment Received : {{project_details.total_client_payment}}</h4>
          <h4>Expense: {{project_details.total_expense}}</h4>
          <h4>Amount in hand: {{project_details.total_client_payment|sub:project_details.total_expense}}</h4>
        </h6>
      </div>
    </div>
  </div>
  <br>

  <!-- Labour and Materials section starts -->
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <p>Number of Labours used: {{project_details.labours.count}}</p>
            <p>Total payments to labours: {{project_details.total_pay}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-5 offset-md-1">
        <div class="card">
          <div class="card-body">
            <p>Number of materials used: {{project_details.materials.count}}</p>
            <p>Total expenses in material: {{project_details.mat_exp}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>

  <div class="container">
    <div class="row">

        <div class="col-md-5 jumbotron" id="labours">

          <p><a class='btn btn-primary' href="{% url 'labours:l_create' slug=project_details.slug %}">Add labour</a> <a href="#top"><button type="button" class="btn btn-success">Back to top</button></a></p>
          <h3>Labours used:</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Labour name</th>
                <th scope="col">Labour type</th>
                <th scope="col">Wage</th>
              </tr>
            </thead>
            <tbody>
              {% for labour in project_details.labours.all %}
              <tr>
                <td><a href="{% url 'labours:l_detail' pk=labour.pk %}">{{labour.name}}</a></td>
                <td>{{labour.type}}</td>
                <td>{{labour.wage}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-md-5 offset-md-1 jumbotron" id="materials">

          <p><a class='btn btn-primary' href="{% url 'materials:m_create' slug=project_details.slug %}">Add material</a> <a href="#top"><button type="button" class="btn btn-success">Back to top</button></a></p>
          <h3>Materials used:</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Material type</th>
                <th scope="col">Supplier</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              {% for material in project_details.materials.all %}
              <tr>
                <td><a href="{% url 'materials:m_detail' pk=material.pk %}">{{material.type}}</a></td>
                <td>{{material.supplier}}</td>
                <td>{{material.date}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

    </div>
  </div>

  <!-- Labour and materials section ends -->

  <!-- Contracts and Client Payment section starts -->
  <section>

    <div class="container">
      <div class="row">

        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <p>Number of contracts: {{project_details.contracts.count}}</p>
              <p>Total expense in contracts: {{project_details.total_contract_value}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>

    <div class="container">
      <div class="row">

          <div class="col-md-5 jumbotron" id="contracts">

            <p><a class='btn btn-primary' href="{% url 'contracts:c_create' slug=project_details.slug %}">Add contract</a> <a href="#top"><button type="button" class="btn btn-success">Back to top</button></a></p>
            <h3>Contractors hired:</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Name</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                {% for contract in project_details.contracts.all %}
                <tr>
                  <td><a href="{% url 'contracts:c_detail' pk=contract.pk %}">{{contract.contract_type}}</a></td>
                  <td>{{contract.contractor_name}}</td>
                  <td>{{contract.date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

          <div class="col-md-5 offset-md-1 jumbotron" id="client_payments">

            <p><a class='btn btn-primary' href="{% url 'projects:cp_create' slug=project_details.slug %}">Add client payment</a> <a href="#top"><button type="button" class="btn btn-success">Back to top</button></a></p>
            <h3>Payment from client:</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Amount</th>
                  <th scope="col">Date</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for payment in project_details.payments.all %}
                <tr>
                  <td>{{payment.amount}}</td>
                  <td>{{payment.date}}</td>
                  <td><a class='btn btn-danger' href="{% url 'projects:cp_del' pk=payment.pk %}">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

      </div>
    </div>

  </section>

  <!-- Miscellaneous expense section -->
  <section class="container" id="miscellaneous">
    <p><a class='btn btn-primary' href="{% url 'projects:mis_create' slug=project_details.slug %}">Add miscellaneous expense</a> <a href="#top"><button type="button" class="btn btn-success">Back to top</button></a><p>
    <div class="jumbotron">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Expense on</th>
            <th scope="col">Expense by</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for miscellaneous in project_details.miscellaneous.all %}
          <tr>
            <td>{{miscellaneous.expense_on}}</td>
            <td>{{miscellaneous.expense_by}}</td>
            <td>{{miscellaneous.amount}}</td>
            <td>{{miscellaneous.date}}</td>
            <td><a class='btn btn-danger' href="{% url 'projects:mis_del' pk=miscellaneous.pk %}">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

{% endblock %}
