{% extends 'base.html' %}

{% block content %}
<div class="jumbotron section">
  <h1><a href="{% url 'projects:p_detail' slug=labour.project.slug %}">Project {{labour.project}}</a></h1>
  <h2>Labour name: {{labour.name}}</h2>
  <a class='btn btn-warning' href="{% url 'labours:l_update' pk=labour.pk %}">Update Labour</a>
  <a class='btn btn-danger' href="{% url 'labours:l_delete' pk=labour.pk %}">Delete Labour</a>
</div>

<div class="container">
  <div class="card" style="width:62rem">
    <div class="card-body">
      <h6>
        <h4>Labour type: {{labour.type}}</h4>
        <h4>Labour wage: {{labour.wage}}</h4>
        <h4>Total paid: {{labour.total_pay}}</h4>
      </h6>
    </div>
  </div>
</div>
<br>

<!-- <div class="container section">
  <a class='btn btn-primary' href="{% url 'labours:pay' pk=labour.pk %}">Pay</a>
  <br>
  <hr>
  {% for payment in  labour.payments.all %}
  <div class="card">
    <div class="card-body">
      <a class='btn btn-primary' href="{% url 'labours:pay_del' pk=payment.pk %}">Delete</a>
      <p>{{payment.name}}</p>
      <p>Date: {{payment.date}}</p>
      <p>Days worked: {{payment.days}}</p>
      <p>Payment Type: {{payment.type}}</p>
      <p>Total: {{payment.total}}</p>
    </div>
  </div>
  {% endfor %}
</div> -->

<div class="container section">
  <a class='btn btn-primary' href="{% url 'labours:pay' pk=labour.pk %}">Add payment</a>
  <br>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Days worked</th>
        <th scope="col">Payment amount</th>
        <th scope="col">Payment type</th>
        <th scope="col">Date</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in labour.payments.all %}
      <tr>
        <td>{{payment.days}}</td>
        <td>{{payment.total}}</td>
        <td>{{payment.type}}</td>
        <td>{{payment.date}}</td>
        <td><a class='btn btn-danger' href="{% url 'labours:pay_del' pk=payment.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
